{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="text-center mb-4">
        <h5>Buy</h5>
        <p>Enter share symbol and number of shares you want to buy.</p>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>

{% endblock %}
