{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
{% for row in transactions %}
        <tr>
            <td class="text-start">{{ row.symbol }}</td>
    {% if row.type == "buy" %}
            <td class="text-end">{{ row.shares }}</td>
    {% elif row.type == "sell" %}
            <td class="text-end">{{ (row.shares) * -1 }}</td>
    {% endif %}
            <td class="text-end">{{ row.price | usd }}</td>
            <td class="text-end">{{ row.date | format_date | safe}}</td>
        </tr>
{% endfor %}

    </tbody>
</table>

{% endblock %}
