{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div class="text-center mb-4">
        <h5>Quote</h5>
        <p>Check current price of share using the share symbol.</p>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>

{% endblock %}